.box1{
    color: rgb(42, 139, 29);
    background-color: rgb(0, 0, 0);
}









.h1{
    text-align: center;
}



.h2{
    color: rgb(42, 139, 29);
}



.body{
    background-color: black;
    color: black;
}


.box1 hr{
    color: red;
}